.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #007bff;
  color: white;
}
.logo-brand {
  margin: 0;
  font-size: 2em;
  color: rgba(254, 254, 254, 0.91);
  text-shadow: 2px 2px #ff0000;
}

.cart-info {
  display: flex;
  align-items: center;
}
.total-price {
  margin-right: 20px;
  font-size: 1.2rem;
}
.cart-icon .cart-items {
  position: absolute;
  top: 24px;
  right: 14px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 0.8em;
}

.cart-icon svg {
  font-size: 1.5em;
}
