.product-list {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.book-list-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}
.sort-btn,
.filter-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.2s;
}
.sort-btn:hover,
.filter-btn:hover {
  background-color: #0056b3;
}

label {
  margin: 10px;
}
input {
  margin: 10px;
}
input[type="number"],
select {
  padding: 5px;
  margin-left: 10px;
}
.product-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.buy-now-btn {
  display: block;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  margin: 20px auto;
  transition: background-color 0.2s;
  width: 150px;
}

.but-now-btn:hover {
  background-color: #218838;
}
